.vscode/**
.vscode-test/**
node_modules/**
out
media/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.esbuild.config.js
*.gif
build

# We need the codicon node module included for the fonts + icons to work
!node_modules/@vscode/codicons/dist