.scrollbar {
	position: absolute;
	visibility: hidden;
	overflow: scroll;
	width: 100px;
	height: 100px;
}

/* Decorators */

.diff-insert {
	background-color: green;
}

.diff-delete {
	background-color: red;
}
