:root {
	--icon-button-size: 22px;
	--icon-button-margin: 3px;
}
.vs-text-field-group-inner {
	position: relative;
}

.vs-text-field-group-inner > input {
	width: 100%;
	box-sizing: border-box;
}

.vs-text-field-group-buttons {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
}

.vs-text-field-error-message {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: .4em;
	font-size: 12px;
	line-height: 17px;
	margin-top: -1px;
	word-wrap: break-word;
	border: 1px solid var(--vscode-inputValidation-errorBorder);
	color: var(--vscode-inputValidation-errorForeground);
	background: var(--vscode-inputValidation-errorBackground);
	z-index: 1;
}

.text-field-wrapper {
	position: relative;
	display: flex;
}

.text-field-wrapper:focus-within .vs-text-field-error-message {
	display: block;
}

.vs-text-field-inner {
	background: var(--vscode-input-background);
	border: 1px solid var(--vscode-input-border, transparent);
	color: var(--vscode-input-foreground);
	padding: 2px 4px;
	width: 0;
	flex-grow: 1;
}

.vs-text-field-inner::placeholder {
	color: var(--vscode-input-placeholderForeground);
}

.vs-text-field-inner:focus {
	outline: 0 !important;
	border-color: var(--vscode-focusBorder);
}

.vs-text-field-error {
	border-color: var(--vscode-inputValidation-errorBorder) !important;
}

.vs-progress-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 2px;
	pointer-events: none;
	overflow: hidden;
	z-index: 1;
}

.vs-progress-indicator::before {
	content: "";
	position: absolute;
	inset: 0;
	width: 2%;
	animation-name: progress;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform: translate3d(0px, 0px, 0px);
	background: var(--vscode-progressBar-background);
}

@keyframes progress {
	from { transform: translateX(0%) scaleX(1) }
	50% { transform: translateX(2500%) scaleX(3) }
	to { transform: translateX(4900%) scaleX(1) }
}

.vs-button {
	background: var(--vscode-button-background);
	color: var(--vscode-button-foreground);
	border: 1px solid var(--vscode-button-border);
	padding: 0 calc(var(--icon-button-margin) + var(--icon-button-size));
	font-family: var(--vscode-font-family);
	cursor: pointer;
	padding: 6px 11px;
}

.vs-button:hover {
	background: var(--vscode-button-hoverBackground);
}

.vs-button:active {
	background: var(--vscode-button-background);
}

.vs-button:focus {
	outline: 1px solid var(--vscode-focusBorder);
}

.vs-button:disabled {
	opacity: 0.5;
	cursor: default;
}

.vs-icon-button-inner {
	background: transparent;
	width: 22px;
	height: 22px;
	padding: 4px;
	border-radius: 5px;
	display: flex;
	flex: initial;
	margin-left: var(--icon-button-margin);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0;
	color: var(--vscode-icon-foreground);
}

.vs-icon-button-inner[disabled] {
	opacity: 0.3;
	background: transparent !important;
	cursor: auto;
}

.vs-icon-button-inner:hover {
	background: var(--vscode-toolbar-hoverBackground);
}

.vs-icon-button-inner[aria-checked="true"] {
	background: var(--vscode-inputOption-activeBackground);
	outline: 1px solid var(--vscode-inputOption-activeBorder);
	color: var(--vscode-inputOption-activeForeground);
}

.vs-icon-button-inner:focus {
	outline: 1px solid var(--vscode-focusBorder);
}

.popover {
	position: absolute;
	z-index: 1;
}

.popover-hidden {
	opacity: 0;
	pointer-events: none;
}

.tooltip-popover {
	background: var(--vscode-editorWidget-background);
	color: var(--vscode-editorWidget-foreground);
	border: 1px solid var(--vscode-editorWidget-border);
	padding: 0.5em;
	box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
	transition: 0.2s opacity;
	animation: fadeIn linear 100ms;
	overflow: hidden;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.tooltip-arrow {
	position: absolute;
	top: 0;
	left: 0;
}

.tooltip-arrow svg {
	display: block;
}

.tooltip-arrow polygon:first-child {
	fill: var(--vscode-editorWidget-border);
}

.tooltip-arrow polygon:last-child {
	fill: var(--vscode-editorWidget-background);
}

.widget-popover {
	padding-right: calc(0.8em + var(--icon-button-size));
	transition: none;
}

.widget-popover-closer {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
}
